<h4>Latest Stories:</h4>
<ul>
  <% if @stories.length > 0 %>
    <% @stories.each do |story| %>
      <li><%= link_to story.title, story_path(story) %></li>
    <% end %>
  <% end %>
</ul>
<p>Sort by genre: </p>
<ul>
  <% if @genres.length > 0 %>
    <% @genres.each do |genre| %>
      <li><%= link_to genre.name, genre_path(genre) %></li>
    <% end %>
  <% end %>
</ul>